body {
    margin: 0;
    overflow: hidden;
}
body{
    margin-bottom: 5em;
}
.main-container{
    margin-bottom: 10em;
}

.main-container {
    display: flex;
}

.grow {
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    flex-grow: 1;
    box-shadow: 0 0 20px black;
    height: calc(100vh - 16px);
    margin: 8px;
    /*padding: 45px;*/
}

.sum {
    text-align: end;
    margin: 1em;
    font-size: 1.5em;
    line-height: 1.5em;
    text-decoration: underline;
}

.cats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    overflow-y: auto;
}

.cat {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*outline: 1px solid red;*/
}

.cat .logo {
    max-width: calc(100vw * 3 / 5 / 6.5);
    max-height: calc(100vw * 3 / 5 / 6.5);
    width: 12vw;
    height: 12vw;
    min-width: 5em;
    min-height: 5em;
    background-color: tomato;
    border-radius: 999px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat .logo i {
    font-size: calc(100vw * 3 / 5 / 6.5 / 2);
}

.cat-text {
    padding: 1em;
    font-weight: 900;
}

.text {
    font-size: max(1em, calc(100vw * 3 / 5 / 6.5 / 2 / 2));
}

.calc {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    text-align: center;
    background-color: black;
    outline: 1px black solid;
    font-size: 1.8em;
    line-height: 2em;
    user-select: none;
}

.calc-btn {
    color: white;
    outline: 1px solid wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    body {
        /*background-color: red;*/
    }

    .main-container > .grow {
        flex-grow: 0;
    }

    main {
        margin: 0;
        /*padding: 0 1em;*/
    }

    .cats {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
}
